<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    cacheResult="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
>
    <coverage/>
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
